.container {

   
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    gap: 10px;
}


div.container__Item1 {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 4;
    
}

div.container__Item2 {
    background-color: green;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;


}

div.container__Item3 {
    background-color: yellow;
    grid-column-start: 1;
    grid-row: 2;
}

div.container__Item4 {
    background-color: pink;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;



    

    
}

div.container__Item5 {
    background-color: blue;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}