/**
* Set globals
 */

html {
    box-sizing: border-box;
}

/**
 * Setup box sizing
 */

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Embedding styling

 */

body, body * {
    margin: 0;
    padding: 0;
    /*font-size: 15px;*/
    font-family: 'Poppins', sans-serif;
}


/**
    * Global styling
 */

body {
    background-color: hsl(0, 0%, 98%);
    font-size: 15px;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* start with the upperBox */

.upperBox {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}




h1 {
    font-size: 2em;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}

h2 {
    font-size: 2em;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    color: hsl(234, 12%, 34%);

}


p {
color: hsl(229, 6%, 66%);
}



/* start with lowerBox */

.lowerBox {
    display: flex;
    justify-content: space-evenly;
}

.lowerBox__left {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lowerBox__middle {
    width: 25%;
}

.lowerBox__right {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* start with lowerBox__middle__lower and lowerBox__middle__upper */

.lowerBox__cardBox {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}



.lowerBox__middle--lower {
    margin-top: 50px;
}

.symbole {

    height: 145px;
    margin-right: 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 10px;
}


/*  topborders */

.lowerBox__cardBox--LeftTopBorder {
    border-top: solid 5px hsl(180, 62%, 55%);
}

.lowerBox__cardBox--middleUpperTopBorder {
    border-top: solid 5px hsl(0, 78%, 62%);
}

.lowerBox__cardBox--middleLowerTopBorder {
    border-top: solid 5px hsl(34, 97%, 64%);
}

.lowerBox__cardBox--RigthTopBorder {
    border-top: solid 5px hsl(212, 86%, 64%);
}


/**
 * Media queries
 */

@media (max-width: 1290px) {

    .lowerBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lowerBox__cardBox {
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        margin: 0;
    }
    .lowerBox__middle--lower {
        margin-top: 0;
    }

    .lowerBox__middle--lower {
        margin-top: 0px;
    }
}

/*}*/